.booking {
    padding: 38px 20px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking__title {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 24px;
}

.booking__description {
    line-height: 24px;
    margin-bottom: 24px;
}

.booking__button {
    width: 280px;
}

@media (min-width: 768px) {
    .booking__title {
        font-size: 30px;
    }
}

