.developed-by {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    line-height: 14px;
}

.developed-by__text {
    display: block;
    margin-top: 10px;
}

.developed-by__link {
    margin-left: 12px;
}

.developed-by__link:active:not(:disabled) {
    fill: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
    .developed-by {
        margin: 0;
    }
}

@media (min-width:1200px) {
    .developed-by__link:hover:not(:active):not(:disabled) {
        fill: #81B3D2;
    }
}