.header {
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    height: 56px;
    box-shadow: 0 0 1px 0 #ccc; /* чуть красоты от себя */
    z-index: 99;
}

@media (min-width: 768px) {
    .header {
        position: static;
    }
}