.logo {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.logo--hidden {
    display: none;
}

.logo-border {
    visibility: hidden;
}

@media (mid-width: 1200px) {
    .logo-border {
        visibility: visible;
    }
}