.menu__item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

    background-color: #81B3D2;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu__link {
    display: flex;
    height: 56px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.menu__link-text {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100vw - 36px);
    margin: auto;
}

.menu__close-button {
    position: absolute;
    right: 17px;
    top: 17px;
    cursor: pointer;
}

.menu__close-button-icon:hover {
    fill: #ddd;
}

.menu__close-button:hover {
    right: 18px;
    top: 16px;
}

.menu__close-button-icon {
    fill: #fff;
    width: 22px;
    height: 22px;
}

.menu__burger {
    position: absolute;
    top: 17px;
    right: 20px;
}

.menu__burger-line {
    width: 23px;
    height: 4px;
    background-color: #81B3D2;
}

.menu__burger-line:not(:last-child) {
    margin-bottom: 5px;
}