.poster-small {
  background-image: url("../../img/main-page-big-picture-background@1x.jpg"), linear-gradient(#846969, #394a4c);
  width: 320px;
  height: 157px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.poster-small__text {
  margin-top: 51px;
  fill: #fff;
}