.reason-point__list {
    padding: 28px 20px 36px;
}

.reason-point__title {
    font-size: 18px;
    line-height: 26px;

    margin-top: 8px;
    margin-bottom: 16px;
}

.reason-point__item-icon-container {
    margin-right: 12px;
}

.reason-point__item-icon {
    width: 39px;
    height: 37px;
    fill: #81B3D2;
}

.reason-point__item:not(:last-child) {
    margin-bottom: 18px;
}

.reason-point__container {
    display: flex;
}

.reason-point__description {
    text-align: start;
}

@media (min-width: 768px) {
    .reason-point__title {
        font-size: 21px;
        margin: 0 0 23px 0;
        text-align: center;
    }

    .reason-point__details {
        text-align: center;
    }

    .reason-point__list {
        padding: 0;
    }

    .reason-point__item {
        padding: 60px 36px 60px;
    }

    .reason-point__item-icon {
        width: 72px;
        height: 69px;
    }

    .reason-point__container {
        flex-direction: column;
    }

    .reason-point__item-icon-container {
        margin-bottom: 27px;
        margin-right: 0;
    }
}