.reason-point__list {
    margin-bottom: 36px;
}

.reason-point__title {
    font-size: 18px;
    line-height: 26px;

    margin-top: 8px;
}

.reason-point__item-icon {
    width: 39px;
    height: 37px;
    fill: #81B3D2;
}

.reason-point__container {
    display: flex;
    margin: 18px 18px 0 24px;
}

.reason-point__description {
    text-align: start;
    margin: 0 0 0 12px;
}

.reason-point__details {
    margin-top: 16px;
}