.reason-card__image-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    min-width: 320px;
    height: 256px; /* уменьшил с 260px, т.к. картинки img/photo-bridge@1x.jpg для desktop нет на 260  */
    overflow: hidden;
}

.reason-card__image {
    display: block;
}

.reason-card__description {
    padding: 36px 20px 36px;
    background-color: #81B3D2;
    color: #fff;
}

.reason-card__description--light {
    background-color: #EEEEEE;
    color: #000;
}

.reason-card__title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.reason-card__text:not(:last-child) {
    margin-bottom: 14px;
}