.reasons__lead {
    padding: 32px 20px 30px;
}

.reasons__slogan {
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto 28px;
    max-width: 438px;
}

.reasons__lead-text {
    line-height: 26px;
    max-width: 500px;
    margin: 0 auto
}

.reasons__item.reasons__item--light {
    position: relative;
}

.reasons__item.reasons__item--light:not(:last-child)::after {
    content: "";
    background-color: #D6D6D6;
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 20px;
    right: 20px;
}

@media (min-width: 768px) {
    .reasons__list {
        display: flex;
        flex-wrap: wrap;
    }

    .reason-card {
        height: 100%;
    }

    .reasons__item {
        width: 100%;
    }

    .reasons__item.reasons__item--light::after {
        display: none;
    }

    .reasons__item--light {
        width: calc(100% / 3);
    }
}
