.review-form {
    border-top: 1px solid #E5E5E5;
    padding-bottom: 28px;
}

.review-form__button {
    margin: 0 auto;
}

.review-form__fieldset-legend {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.review-form__field-label-text {
    font-size: 14px;
    line-height: 26px;
    margin: 0 12px 0 0;
}

.review-form__field-label {
    display: flex;
    align-items: center;
}

.review-form__field-label--full-width { 
    flex-direction: column;
}

.review-form__field-label--full-width .review-form__field-label-text {
    align-self: flex-start;
    margin: 0 0 5px 22px;
}

.review-form__fields-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.review-form__impression .review-form__fields-list-item {
    margin-bottom: 14px;
}

.review-form__impression .review-form__fields-list-item:last-child {
    margin-bottom: 0;
}

.review-form__impression .review-form__field-label-text {
    font-size: 18px;
    font-weight: 700;
    text-transform: lowercase;
}

.review-form__impression .review-form__field-label-text::first-letter {
    text-transform: uppercase;
}

.review-form__visited-places .review-form__fields-list-item {
    margin-bottom: 24px;
}

.review-form__visited-places .review-form__fields-list-item:last-child {
    margin-bottom: 0;
}

.review-form__visited-places .review-form__field-label-text {
    font-size: 18px;
    font-weight: 700;
    text-transform: lowercase;
}

.review-form__visited-places .review-form__field-label-text::first-letter {
    text-transform: uppercase;
}

.review-form__fieldset {
    padding: 0 20px 24px;
    border: 0;
}

.review-form__fieldset:not(:last-of-type) {
    border-bottom: 1px solid #E5E5E5;
}

.review-form__input-wrapper {
    display: flex;
}

.review-form__textarea {
    min-height: 160px;
    height: 160px;
}

.review-form__input-icon {
    display: flex;
    flex-shrink: 0;
    background-color: #E6E6E6;
    align-items: center;
    justify-content: center;
    width: 58px;
}

.review-form__button-container {
    padding: 24px 20px 16px;
}

.review-form__button {
    width: 100%;
}
