.social {
    display: flex;
    margin: 0 auto 40px auto;
    justify-content: center;
}

.social__list {
    display: flex;
    gap: 6px
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #81b3d2;
}

.social__link:active:not(:disabled) {  
    background: #5496BD;
    color: rgba(256, 256, 256, 0.3);
}

@media (min-width: 768px) {
    .social {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .social__link:hover:not(:active):not(:disabled) {
        background: #669EC0;
    }
}