.button {
    display: block;
    color: #fff;
    background-color: #81B3D2;
    padding: 16px 42px 16px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    border: none;
    cursor: pointer;
}

.button:active:not(:disabled) {
    background: #5496BD;
    color: rgba(256, 256, 256, 0.3);
}

.button:disabled {
    background: #E5E5E5;
}

@media (min-width: 1200px) {
    .button:hover:not(:active):not(:disabled) {
        background: #669EC0;
    }
}
