.custom-radio {
    display: block;
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    background-color: #333333;
    border-radius: 50%;
    border: 18px solid #F2F2F2;
    margin: 0 22px 0 0;
    cursor: pointer;
}

.radio:focus + .custom-radio {
    outline: 2px solid #555555;
}

.radio:not(:checked) + .custom-radio {
    background-color: #F2F2F2;
}

@media (min-width: 1200px) {
    .custom-radio:hover:not(:active):not(:disabled) {
        border: 18px solid #E5E5E5;
    }

    .radio:not(:checked) + .custom-radio:hover:not(:active):not(:disabled) {
        background-color: #E5E5E5;
    }

    .custom-radio:active:not(:disabled) {
        background: rgba(51,51,51,0.3);
        border: 18px solid #D5D5D5;
    }

    .radio:not(:checked) + .custom-radio:active:not(:disabled) {
        background: #D5D5D5;
        border: 18px solid #D5D5D5;
    }
}