.form-input {
    height: 58px;
    background-color: #F2F2F2;
    border: 0;
    border-left: 22px solid #F2F2F2;
    border-right: 22px solid #F2F2F2;

    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    width: 100%;
}

.form-radio {

}

.form-checkbox {

}

.form-textarea {

}